<%- include('./partials/head.ejs') %>
  <section class="container">
    <% data.forEach(dag => { %>
      <article class="dag">
        <h2><%= dag.title %></h2>
        <a href="/date/<%= dag.date %>">
        <%if (dag.media_type == "video") { %>
          <iframe src="<%= dag.url %>" alt="">
        <% } else{ %>
          <img src="<%= dag.url %>">
        <% } %>
      </a>
      </article>
    <% }) %>
  </section>
  <%- include('./partials/footer.ejs') %>
  