<%- include('./partials/head.ejs') %>
  <section class="container">
    <% days.forEach(day => { %>
      <article class="dag">
        <h2><%= day.title %></h2>
        <a href="/date/<%= day.date %>">
        <%if (day.media_type == "video") { %>
          <iframe src="<%= day.url %>" alt="">
        <% } else{ %>
          <img src="<%= day.url %>">
        <% } %>
      </a>
      </article>
    <% }) %>
  </section>
  <%- include('./partials/footer.ejs') %>
  