<%- include('./partials/head.ejs') %>
    <article>
      <header>
        <h1><%= data.title %></h1>
      </header>

      <article>
        <div>
          <img src="<%= data.url %>" alt="<%= data.title %>">
        </div>
        <div>
          <p><%= data.explanation %></p>
        </div>
      </article>

      <div><a href="/">terug</a></div>
    </article>
    <%- include('./partials/footer.ejs') %>
